@{
    ViewBag.Title = "About";
}

<h1>About</h1>
<h2>Проект Конькова Михаила. Тестовое задание</h2>
<p>
    Необходимо создать сайт на ASP.Net MVC 4
в качестве БД используется MS SQL Server (Express версия), в качестве слоя доступа к данным использовать Entity Framework
на front-end думаю лучше будет использовать стили Bootstrap. 
Для грида - смотри сам - что тебе больше нравится.
</p>


<h2>ТЗ:</h2>
<p>
    Страницы сайты<br />
    Главная<br />
    О проекте<br />
    Личный кабинет пользователя<br />
    Регистрация<br />
    Авторизация<br />
    Авторизация для администратора системы<br />
    Панель администратора<br />
</p>

<h2>Форма регистрации</h2>
<p>
    E-mail - валидация<br />
    Пароль<br />
    Имя - только буквы<br />
    Фамилия  - только буквы<br />
    Дата рождения - используем date picker<br />
    Аватар - только изображения (загрузка изображения любого размера, preview, вырезаю из него аватар)<br />
    Captcha - валидация<br />
</p>

<h2>Регистрация</h2>
<p>
    Создается пользователь с неподтвержденным e-mail и ролью "клиент"
На указанную при регистрации почту отправляется письмо с запросом на подтверждение
Пользователю сообщается о том что он зарегистрирован и ему отправлено письмо
</p>

    <h2>Личный кабинет</h2>
<p>
Содержит информация о авторизованном пользователе
Пользователь может выполнять следующие действия:
Изменить пароль
Изменить имя
Изменить фамилию
Изменить дату рождения
Изменить аватар
Указанные выше действия сопровождаются уведомлением по e-mail
</p>
<h2>Панель администратора</h2>
<p>
Администратор авторизуется в панели по ссылке site.com/admin
Панель содержит список пользователей с подтвержденным e-mail
Список пользователей отображается в виде таблицы с устанавливаемым лимитом записей на страницу
Администратор может выполнять следующие действия:
Создать пользователя (отправляется уведомление на e-mail)
Изменить роль пользователя (отправляется уведомление на e-mail)
Активировать пользователя (отправляется уведомление на e-mail)
Дезактивировать пользователя (отправляется уведомление на e-mail)
Выполнять поиск пользователя по различным критериям:
Имя
Фамилия
E-mail
</p>
